@model IEnumerable<PBL3_QuanLyDatXe.Models.Line>

@{
    ViewData["Title"] = "Danh sách xe";
}

<h2>Danh sách xe</h2>

<a asp-action="Create" class="btn btn-primary">Thêm xe</a>

<table class="table">
    <thead>
        <tr>
            <th>Tên tuyến</th>
            <th>Điểm đi</th>
            <th>Điểm đến</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.tenTuyen</td>
                <td>@item.diemDi</td>
                <td>@item.diemDen</td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Sửa</a>*@
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>